.App {
  text-align: center;
}

.App-header {
  background-color: rgb(0, 39, 62);
  position: fixed;
  top: 0;
  width : 100%;
  height: 8vh;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  .header-title {
    color: rgb(199, 199, 199);
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      width: 30%;
      img {
        height: 2.4em;
        width: 2.4em;
      }
      h3 {
        font-size: 1.35em;
        font-family: 'Noto Sans SC', sans-serif;
        margin: 0;
        padding: 0.25em;
        padding-left: 0.7em;
      }
    }
    img {
      height: 1.1em;
      width: 1.1em;
    }
  }
  .header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    padding-right: 1.5em;
    img {
      height: 1em;
      width: 1em;
    }
    button{
      height: 2.5em;
      width: 7em;
      border-radius: 25px;
      background-color: transparent;
      outline: none;
      border: none;
    }
    .profile-icon{
      height: 1.4em;
      width: 1.4em;
    }
    .register-button {
      outline: none;
      width: 1.5em;
      height: 1.5em;
      border: none;
      background-color: transparent;
      img {
        width: 1.2em;
        height: 1.2em;
      }
    }
  }
}


.modal-register-button {
  background-color: transparent;
  border: none;
  font-size: 0.55em;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
}
.modal-register-button:focus {
  outline: none;
}
.modal-register-button:hover {
  color: rgb(118, 118, 118);
}

.modal-login-button {
  background-color: transparent;
  border: none;
  font-size: 0.55em;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
}
.modal-login-button:focus {
  outline: none;
}
.modal-login-button:hover {
  color: rgb(118, 118, 118);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Noto Sans', sans-serif;
  margin: 0.55em 0;
  img {
    width: 2.3em;
    height: 2.3em;
    margin: 0.5em 0;
  }
  h3 {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1.2em;
    padding: 0.5em 0.3em;
    padding-bottom: 1em;
  }
  .email-login-input {
    display: flex;
    flex-direction: column;
    input {
      height: 3em;
      width: 15em;
      border-radius: 8px;
      border: 1px solid grey;
      font-size: 0.8em;
      padding: 0 1em;
      outline: none;
    }
    label {
      font-size: 0.7em;
    }
  }
  .password-login-input {
    display: flex;
    flex-direction: column;
    input {
      height: 3em;
      width: 15em;
      border-radius: 8px;
      border: 1px solid grey;
      font-size: 0.8em;
      padding: 0 1em;
      outline: none;
    }
    label {
      font-size: 0.7em;
    }
  }
  .login-submit {
    background-color: transparent;
    border-radius: 20px;
    height: 2em;
    width: 5em;
    border: 1px solid darkgrey;
    margin: 0.8em 0;
    img {
      width: 0.8em;
      height: 0.8em;
    }
  }
  .login-submit:hover {
    color: white;
    background-color: rgb(187, 187, 187);
    img {
      content: url('https://i.imgur.com/V1Sxqbh.png')
    }
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
  margin: 0.3em 0;
  img {
    width: 2.6em;
    height: 2.6em;
    margin: 0.5em 0;
  }
  h3 {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1.2em;
    padding: 0.5em 0.3em;
    padding-bottom: 1em;
  }
  .name-register-input {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    img {
      width: 1.6em;
      height: 1.6em;
    }
    input {
      height: 3em;
      width: 8em;
      border-radius: 8px;
      border: 1px solid grey;
      font-size: 0.8em;
      padding: 0 1em;
      outline: none;
      margin: 0 0.5em;
    }
  }
  .email-register-input {
    margin: 0.5em 0;
    img {
      width: 1.7em;
      height: 1.7em;
    }
    input {
      height: 3em;
      width: 17em;
      border-radius: 8px;
      border: 1px solid grey;
      font-size: 0.8em;
      padding: 0 1em;
      outline: none;
      margin: 0 0.5em;
    }
  }
  .password-register-input {
    margin: 0.5em 0;
    img {
      width: 1.7em;
      height: 1.7em;
    }
    input {
      height: 3em;
      width: 17em;
      border-radius: 8px;
      border: 1px solid grey;
      font-size: 0.8em;
      padding: 0 1em;
      outline: none;
      margin: 0 0.5em;
    }
  }
  .register-submit {
    background-color: transparent;
    border-radius: 20px;
    height: 2em;
    width: 5em;
    border: 1px solid darkgrey;
    margin: 0.8em 0;
    img {
      width: 0.8em;
      height: 0.8em;
    }
  }
  .register-submit:hover {
    color: white;
    background-color: rgb(187, 187, 187);
    img {
      content: url('https://i.imgur.com/V1Sxqbh.png')
    }
  }
}

.App-footer {
  display: flex;
  width: 90vw;
  height: 15vh;
  margin: 5vh 5vw;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  .left-side {
    width: 65%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    padding: 0 12em;
    p {
      font-size: 0.85em;
      font-family: 'Noto Sans', sans-serif;
    }
  }
  .right-side {
    width: 35%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    padding: 0 8em;
    img {
      width: 2  em;
      height: 2em;
      font-family: 'Noto Sans', sans-serif;
    }
  }
}