.App {
  text-align: center;
}

.App-header {
  background-color: #51514F;
  position: fixed;
  top: 0;
  width : 100%;
  height: 8vh;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  .header-title {
    color: rgb(199, 199, 199);
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 30%;
      img {
        height: 2.4em;
        width: 2.4em;
      }
    }
    img {
      height: 1.1em;
      width: 1.1em;
    }
  }
  .header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    padding-right: 1.5em;
    img {
      height: 1em;
      width: 1em;
    }
    button{
      height: 2.5em;
      width: 7em;
      border-radius: 25px;
    }
    .profile-icon{
      height: 1.3em;
      width: 1.3em;
    }
  }
}