.App {
  text-align: center;
}

.App-header {
  background-color: rgb(0, 39, 62);
  position: fixed;
  top: 0;
  width : 100%;
  height: 8vh;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  .header-title {
    color: rgb(199, 199, 199);
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      width: 30%;
      img {
        height: 2.4em;
        width: 2.4em;
      }
      h3 {
        font-size: 1.2em;
        font-family: 'Noto Sans SC', sans-serif;
      }
    }
    img {
      height: 1.1em;
      width: 1.1em;
    }
  }
  .header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    padding-right: 1.5em;
    img {
      height: 1em;
      width: 1em;
    }
    button{
      height: 2.5em;
      width: 7em;
      border-radius: 25px;
    }
    .profile-icon{
      height: 1.3em;
      width: 1.3em;
    }
  }
}

.App-footer {
  display: flex;
  width: 90vw;
  height: 15vh;
  margin: 5vh 5vw;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  .left-side {
    width: 65%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    padding: 0 12em;
    p {
      font-size: 0.85em;
      font-family: 'Noto Sans', sans-serif;
    }
  }
  .right-side {
    width: 35%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    padding: 0 8em;
    img {
      width: 2  em;
      height: 2em;
      font-family: 'Noto Sans', sans-serif;
    }
  }
  
}