.city-page-header {
  width: 100vw;
  height: 80vh;
  top: 0;
  .header-background {
    height: 100%;
    width: 100%;
  }
  .background-overlay {
    height: 80%;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: black;
    opacity: 0.23;
  }
  .header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    z-index: 1000;
    h1 {
      color: white;
      font-size: 5.5em;
      font-family: 'Noto Sans SC', sans-serif;
      font-weight: bold;
    }
    h4 {
      color: white;
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.3em;
    }
    p {
      color: white;
      font-family: 'Noto Sans', sans-serif;
      margin-bottom: 2em;
    }
    .city-trip-form {
      z-index: 9999;
      width: 37vw;
      height: 14vh;
      display: flex;
      border: 3.5px solid white;
      border-radius: 15px;
      .show-card {
        width: 37vw;
        display:flex;
        justify-content: space-between;
        div {
          margin: 1em 2em;
          height: 4em;
          width: 4em; 
          border-radius: 100px;
          -webkit-box-shadow: 0px 17px 39px 23px rgba(59,59,59,0.69);
          -moz-box-shadow: 0px 17px 39px 23px rgba(59,59,59,0.69);
          box-shadow: 0px 17px 39px 10px rgba(40, 40, 40, 0.69);
        }
        button {
          background-color: transparent;
          border: none;
          outline: none;
        }
        img {
          height: 4em;
          width: 4em;  
        }
      }
      .form-card {
        border-radius: 15px;
        width: 37vw;
        display:flex;
        justify-content: space-between;
        background-color: rgba(0, 39, 62, 0.824);
        font-family: 'Noto Sans', sans-serif;
        .form-card--left {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 0.5em 0.5em;
          width: 70%;
          h5 {
            color: white;
            margin-left: 0.8em;
            padding-bottom: 0.2em;
            font-size: 1em;
            border-bottom: 1px solid grey;
          }
          .form-choice-section {
            display: flex;
            justify-content: space-around;
            button {
              background-color: transparent;
              border-radius: 8px;
              outline: none;
              border: none;
              margin: 0 0.1em;
            }
            .list-button-selected {
              background-color: rgb(222, 222, 222);
            }
            .accommodation-list {
              border: 1px solid rgb(255, 255, 255);
              border-radius: 10px;
              padding: 0.1em 0em;
            }
            .transport-list {
              border: 1px solid rgb(255, 255, 255);
              border-radius: 10px;
              padding: 0.1em 0em;
            }
            img {
              width: 1.25em;
              height: 1.25em;
            }
            select {
              font-size: 0.7em;
              background-color: rgb(218, 218, 218);
              height: 100%;
              outline: none;
            }
          }
        }
        .form-card--right {
          width: 30%;
          display: flex;
          justify-content: space-around;
          align-items: flex-end;
          padding: 0.7em 0.7em;
          .right-button {
            background-color: transparent;
            font-size: 0.7em;
            width: 40%;
            border-radius: 25px;
            height: 40%;
            outline: none;
            img {
              width: 1em;
              height:1em;
            }
          }
          .danger:hover {
            border: 1px solid red;
            img {
              content: url('https://i.imgur.com/fnpexCR.png');
            }
          }
          .confirm:hover {
            border: 1px solid green;
            img {
              content: url('https://i.imgur.com/UKdL5bd.png')
            }
          }
        }
      } 
      .confirm-card {
        border-radius: 15px;
        width: 37vw;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Noto Sans', sans-serif;
        background-color: rgba(0, 39, 62, 0.824);
        h4 {
          color: white;
          font-size: 1.3em;
          margin-bottom: 0em;
          border-bottom: 1px solid grey;
          width: 70%;
          text-align: center;
          padding: 0.1em 0;
        }
        p {
          font-size: 0.8em;
          margin: 0;
          padding-top: 0;
        }
        .confirm-button-section {
          margin: 0.2em;
          width: 50%;
          display: flex;
          justify-content: space-around;
          button {
            background-color: transparent;
            border: 1px solid white;
            color: white;
            border-radius: 25px;
            width: 40%;
          }
          button:hover {
            border: 1px solid rgb(174, 174, 174);
            color: rgb(176, 176, 176);
          }
        }
      }
    }
  }
}

.city-page-subnav {
  display: flex;
  height: 12vh;
  width: 90vw;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 8vh;
  padding: 0 11em;
  p {
    font-size: 0.85em;
    font-family: 'Noto Sans', sans-serif;
  }
}

.city-page-container {
  display: flex;
  .left-side {
    background-color: white;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 0;
    .city-description {
      width: 85%;
      border: 1px solid rgb(187, 187, 187);
      border-radius: 10px;
      font-family: 'Noto Sans', sans-serif;
      padding: 1.5em 1.5em;
      -webkit-box-shadow: 0px 4px 5px 2px rgba(225, 225, 225, 0.69);
      -moz-box-shadow: 0px 4px 5px 2px rgba(225, 225, 225, 0.69);
      box-shadow: 0px 4px 5px 2px rgba(225, 225, 225, 0.69);
      h2 {
        font-size: 1.7em;
        color: #0B3954;
        padding-bottom: 0.3em;
        img {
          padding-right: 0.4em;
          height: 1.5em;
          width: 1.5em;
        }
      }
      p {
        font-size: 0.9em;
      }
    }
    .city-activity-list {
      width: 85%;
      h3 {
        font-family: 'Noto Sans', sans-serif;
        color: #0B3954;
        text-align: center;
        padding: 1.5em;
      }
      .city-activity {
        border: 1px solid rgb(187, 187, 187);
        border-radius: 10px;
        display: flex;
        font-family: 'Noto Sans', sans-serif;
        margin-bottom: 1.2em;
        .activity-pin {
          padding: 0.5em 1.5em;
          width: 10%;
          border-right: 1px solid rgb(187, 187, 187);
          display: flex;
          align-items: center;
          justify-content: center;
          .pin-button {
            background-color: transparent;
            border: none;
            height: 2.5em;
            width: 2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          img {
            height: 1.5em;
            width: 1.5em;
          }
          .pin-icon:hover {
            content: url('https://i.imgur.com/U6mfhaa.png');
            height: 1.5em;
            width: 1.5em;
          }
        }
        .activity-collapse-button {
          outline: none;
          border: none;
          background-color: transparent;
        }
        .city-activity-description {
          padding: 1em 1.5em;
          display: flex;
          flex-direction: column;
          h4 {
            font-size: 1em;
            color: #0B3954;
            padding-bottom: 0.3em;
            text-align: start;
          }
          p {
            font-size: 0.8em;
            margin: 0.2em 0;
            text-align: start;
          }
          .link {
            margin-left: 0.3em;
            margin-right: 1em;
            font-size: 0.8em;
            color: darkblue;
            text-decoration: none;
            img {
              width: 1.3em;
              height: 1.3em;
              margin-right: 0.3em;
            }
          }
        }
      }
      .city-activity:hover {
        border: 1px solid darkgrey;
      }
    }
  }


  .right-side {
    width: 40vw;
    height: 117vh;
    background-color:rgb(247, 248, 255);
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    .city-map {
      height: 26em;
      width: 81%;
    }
    h3 {
      color: #0B3954;
      padding: 1.5em;
    }
    .city-avg-expenses {
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .expense {
        height: 6em;
        width: 9em;
        border: 1px solid lightgrey;
        margin-bottom: 1em;
        h5 {
          font-size: 0.8em;
          text-align: center;
          padding: 0.5em 0;
          color: #0B3954;
        }
        .expense-content {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 1em;
          img {
            height: 2.5em;
            width: 2.5em;
          }
          p {
            font-size: 1.2em;
            margin: 0;
          }
        }
      }
      .expense:hover {
        border: 1px solid darkgrey;
      }
    }
  }
}


.gallery {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
  h3 {
    text-align: center;
    padding: 3em 0;
    color: #0B3954;
  }
  .photo-gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 75vh;
    width: 100vw;
    margin: auto;
    .gallery-image {
      width: 28%; 
      height: 15em;
      padding: 0 0.9em;
      img {
        width: 100%; 
        height: 100%;
      }
      .gallery-image-overlay {
        opacity: 0;
        width: 26%; 
        height: 15em;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity .15s ease-in-out;
        -moz-transition: opacity .15s ease-in-out;
        -webkit-transition: opacity .15s ease-in-out;
        div {
          width: 100%; 
          height: 100%;
          position: absolute;
          top: 0;
          background-color: black;
          z-index: 100;
          opacity: 0.35;
        }
        h3 {
          z-index: 9000;
          color: white;
          position: absolute;
          padding: 0 0;
        }
      }
    }
    .gallery-image:hover .gallery-image-overlay{
      transition: opacity .15s ease-in-out;
      opacity: 1;
    }
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.05);
}


.hvr-grow-list {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow-list:hover,
.hvr-grow-list:focus,
.hvr-grow-list:active {
  transform: scale(1.02);
}


.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.expense:hover .hvr-float {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.hvr-grow-link {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow-link:hover,
.hvr-grow-link:focus,
.hvr-grow-link:active {
  transform: scale(1.035);
}
