.city-page-header {
  width: 100vw;
  height: 100vh;
  top: 0;
  .header-background {
    height: 100%;
    width: 100%;
  }
  .background-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: black;
    opacity: 0.4;
  }
  .header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
    h1 {
      color: white;
      font-size: 5em;
      font-family: 'Noto Sans', sans-serif;
      padding-bottom: 0.5em;
      font-weight: bold;
    }
    .header-decision-icons {
      width: 37vw;
      display: flex;
      justify-content: space-between;
      border: 5px solid white;
      border-radius: 75px;
      div {
        margin: 1em 2em;
        height: 4.5em;
        width: 4.5em; 
        border-radius: 100px;
        -webkit-box-shadow: 0px 17px 39px 23px rgba(59,59,59,0.69);
        -moz-box-shadow: 0px 17px 39px 23px rgba(59,59,59,0.69);
        box-shadow: 0px 17px 39px 10px rgba(40, 40, 40, 0.69);
      }
      img {
        height: 4.5em;
        width: 4.5em;  
      }
      .next-icon:hover img {
        content: url('https://i.imgur.com/I788obe.png');
      }
      .finish-icon:hover img{
        content: url('https://i.imgur.com/JZlydMI.png')
      }
      .add-icon:hover img{
        content: url('https://i.imgur.com/dZybzKj.png');
      }
    }
  }
}

.city-page-container {
  display: flex;
  .left-side {
    background-color: white;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    .city-description {
      width: 85%;
      border: 1px solid rgb(187, 187, 187);
      border-radius: 10px;
      font-family: 'Noto Sans', sans-serif;
      padding: 1.5em 1.5em;
      -webkit-box-shadow: 0px 4px 5px 2px rgba(225, 225, 225, 0.69);
      -moz-box-shadow: 0px 4px 5px 2px rgba(225, 225, 225, 0.69);
      box-shadow: 0px 4px 5px 2px rgba(225, 225, 225, 0.69);
      h2 {
        font-size: 1.7em;
        color: #0B3954;
        padding-bottom: 0.3em;
        img {
          padding-right: 0.4em;
          height: 1.5em;
          width: 1.5em;
        }
      }
      p {
        font-size: 0.9em;
      }
    }
    .city-activity-list {
      width: 85%;
      h3 {
        font-family: 'Noto Sans', sans-serif;
        color: #0B3954;
        text-align: center;
        padding: 1.5em;
      }
      .city-activity {
        border: 1px solid rgb(187, 187, 187);
        border-radius: 10px;
        display: flex;
        font-family: 'Noto Sans', sans-serif;
        margin-bottom: 1.2em;
        .pin {
          padding: 0.5em 1.5em;
          width: 10%;
          border-right: 1px solid rgb(187, 187, 187);
          display: flex;
          align-items: center;
          img {
            height: 1.5em;
            width: 1.5em;
          }
          .pin-icon:hover {
            content: url('https://i.imgur.com/U6mfhaa.png')
          }
        }
        .city-activity-description {
          padding: 1em 1.5em;
          h4 {
            font-size: 1em;
            color: #0B3954;
            padding-bottom: 0.3em;
          }
          p {
            font-size: 0.9em;
            margin: 0.2em 0;
          }
        }
      }
      .city-activity:hover {
        border: 1px solid darkgrey;
      }
    }
  }
  .right-side {
    width: 40vw;
    height: 120vh;
    background-color:rgb(247, 248, 255);
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    .city-map {
      height: 30em;
      width: 30em;
    }
    h3 {
      color: #0B3954;
      padding: 1.5em;
    }
    .city-avg-expenses {
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .expense {
        height: 6em;
        width: 9em;
        border: 1px solid lightgrey;
        margin-bottom: 1em;
        h5 {
          font-size: 0.8em;
          text-align: center;
          padding: 0.5em 0;
          color: #0B3954;
        }
        .expense-content {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 1em;
          img {
            height: 2.5em;
            width: 2.5em;
          }
          p {
            font-size: 1.2em;
            margin: 0;
          }
        }
      }
      .expense:hover {
        border: 1px solid darkgrey;
      }
    }
  }
}


.gallery {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
  h3 {
    text-align: center;
    padding: 3em 0;
    color: #0B3954;
  }
  .photo-gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: auto;
    .gallery-image {
      width: 28%; 
      height: 15em;
      padding: 0 0.9em;
      img {
        width: 100%; 
        height: 100%;
      }
      .gallery-image-overlay {
        opacity: 0;
        width: 26%; 
        height: 15em;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity .15s ease-in-out;
        -moz-transition: opacity .15s ease-in-out;
        -webkit-transition: opacity .15s ease-in-out;
        div {
          width: 100%; 
          height: 100%;
          position: absolute;
          top: 0;
          background-color: black;
          z-index: 100;
          opacity: 0.35;
        }
        h3 {
          z-index: 9000;
          color: white;
          position: absolute;
          padding: 0 0;
        }
      }
    }
    .gallery-image:hover .gallery-image-overlay{
      transition: opacity .15s ease-in-out;
      opacity: 1;
    }
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.05);
}


.hvr-grow-list {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow-list:hover,
.hvr-grow-list:focus,
.hvr-grow-list:active {
  transform: scale(1.02);
}


.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.expense:hover .hvr-float {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

