.Homepage-header {
  width: 100vw;
  height: 100vh;
  img {
    height: 100%;
    width: 100%;
  }
  .description {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    left: 25%;
    top: 25%;
    h2 {
      font-size: 2.5em;
      text-align: center;
      margin-bottom: 0;
    }
    h5 {
      font-size: 1.1em;
      text-align: center;
      margin-top: 0.3em;
      margin-bottom: 3em;
    }
  }
  .top-bar {
    background-color: rgb(216, 76, 0);
    height: 1vh;
    width: 50vw;
  }
  .travel-form {
    box-shadow: 0px 2px 10px black, -5px 2px 10px black, 5px 2px 10px black;
    padding-top: 1.5em;
    height: 28vh;
    width: 50vw;
    background-color: rgb(218, 98, 33);
    .form-info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      p {
        font-size: 0.8em;
        margin-bottom: 0.4em;
      }
      .form-select {
        font-family: 'Noto Sans', sans-serif;
        select {
          height: 3em;
          width: 10em;
          font-size: 0.7em;
        }
      }
      .form-input {
        input{
          width: 8em;
          height: 2.8em;
          border-radius: 5px;
          border: 1px darkgray solid;
          font-size: 0.8em;
        }
      }
    }
    .form-region {
      padding-left: 2em;
      padding-top: 1em;
      p {
        font-size: 0.85em;
      }
      .region-images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 95%;
        img {
          height: 3em;
          width: 3em;
        }
        button {
          width: 6em;
          height: 2.3em;
          border-radius: 25px;
          box-shadow: 0px 1px 1px darkslategray;
          background-color: teal;
          border: none;
          color: white;
        }
      }
    }
  }
}

.HomePage-container {
  display: flex;
  flex-direction: column;
  .city-selection-header {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 1.8em;
      font-family: 'Noto Sans', sans-serif;
      color: rgb(56, 56, 121)
    }
  }
  .city-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: auto;
    width: 75%;
    height: 80vh;
  }
  .city-desc {
    height: 12em;
    width: 21em;
    display: flex;
    justify-content: center;
    align-items: center;
    .overlay {
      position: absolute; 
      z-index: 1000;
      p {
        z-index: 1001;
        color: white;
        font-size: 2em;
        z-index: 1001;
        font-family: 'Noto Sans Bold', sans-serif;
      }
    }
    img {
      height: 100%;
      width: 100%;
      opacity: 0.8;
    }
  }
}