.Homepage-header {
  width: 100vw;
  height: 100vh;
  img {
    height: 100%;
    width: 100%;
  }
  .header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: black;
    opacity: 0.25;
  }
  .description {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    h2 {
      font-family: 'Noto Sans SC', sans-serif;
      font-size: 3.8em;
      text-align: center;
      margin-bottom: 0.2em;
    }
    h5 {
      font-size: 1.1em;
      text-align: center;
      margin-top: 0.3em;
      margin-bottom: 3em;
    }
  }
  .top-bar {
    background-color: rgb(216, 85, 15);
    height: 1vh;
    width: 50vw;
  }
  .travel-form {
    box-shadow: 0px 3px 5px rgb(55, 55, 55), -5px 0px 5px rgb(55, 55, 55), 5px 0px 5px rgb(55, 55, 55);
    padding-top: 1.5em;
    height: 28vh;
    width: 52vw;
    background-color: rgb(220, 104, 41);
    .form-info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      p {
        font-size: 0.8em;
        margin-bottom: 0.4em;
        font-family: 'Noto Sans SC', sans-serif;
      }
      .form-select {
        font-family: 'Noto Sans', sans-serif;
        select {
          height: 3em;
          width: 9em;
          font-size: 0.7em;
          border: 1px solid rgb(120, 120, 120);
          outline: none;
        }
      }
      .form-input-starting-city {
        input{
          width: 8em;
          padding: 0.2em 0.6em;
          height: 2.8em;
          border-radius: 6px;
          border: 1px solid rgb(120, 120, 120);
          font-size: 0.8em;
          outline: none;
        }
      }
      .form-input-start-date {
        input{
          width: 11.5em;
          padding: 0.2em 0.6em;
          height: 2.8em;
          border-radius: 6px;
          border: 1px solid rgb(120, 120, 120);
          font-size: 0.8em;
          outline: none;
        }
      }
    }
    .form-region {
      padding-left: 2em;
      padding-top: 1em;
      p {
        font-size: 0.85em;
        font-family: 'Noto Sans SC', sans-serif;
      }
      .region-images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 95%;
        .region-box {
          background-color: rgb(220, 104, 41);
          border: none;
          outline: none;
          border-radius: 4px;
          img {
            padding: 0.3em 0.3em;
            height: 3.5em;
            width: 3.5em;
          }
        }
        .region-box:focus-within {
          background-color: rgb(203, 95, 37);
        }
        .submit-button {
          width: 6em;
          height: 2.3em;
          border-radius: 20px;
          box-shadow: 0px 1px 2px darkslategray;
          background-color: rgb(0, 113, 113);
          border: none;
          color: white;
          font-family: 'Noto Sans SC', sans-serif;
          outline: none;
        }
      }
    }
    .trip-form-error-message {
      color: rgb(255, 255, 255);
      padding: 0.7em;
      text-align: center;
      font-size: 0.9em;
    }
  }
}

.home-page-subnav {
  display: flex;
  height: 12vh;
  width: 90vw;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 0 11em;
  p {
    font-size: 0.85em;
    font-family: 'Noto Sans', sans-serif;
  }
}

.HomePage-container {
  display: flex;
  flex-direction: column;
  .city-selection-header {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 1.8em;
      font-family: 'Noto Sans', sans-serif;
      color: rgb(56, 56, 121)
    }
  }
  .city-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: auto;
    width: 75%;
    height: 115vh;
  }
  .city-desc {
    height: 17em;
    width: 21em;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    overflow: hidden;
    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute; 
      height: 17em;
      width: 21em;
      background-color: rgb(0, 0, 0);
      .overlay-desc {
        position: absolute; 
        z-index: 1001;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          color: white;
          font-size: 2em;
          font-family: 'Noto Sans', sans-serif;
        }
        p {
          font-size: 0.8em;
          color: white;
        }
      }
    }
    img {
      height: 100%;
      width: 100%;
      opacity: 0.8;
    }
  }
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button {  
   opacity: 1;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}