.pin {
  position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: solid 1px white;
    background-color: rgb(46, 102, 255);
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
}