.profile-header {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .background-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
  }
  .header-user-info {
    position: absolute;
    z-index: 8000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 10em;
      width: 10em;
    }
    h3 {
      padding-top: 0.8em;
      font-family: 'Noto Sans SC', sans-serif;
      font-size: 2.5em;
    }
    p {
      font-family: 'Noto Sans', sans-serif;
      font-size: 0.9em;
    }
  }
  .header-overlay {
    position: absolute;
    height: 80%;
    width: 100%;
    z-index: 1000;
    background-color: black;
    opacity: 0.25
  }
}

.user-page-subnav {
  display: flex;
  height: 12vh;
  width: 90vw;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 0 11em;
  p {
    font-size: 0.85em;
    font-family: 'Noto Sans', sans-serif;
  }
}

.trip-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    padding: 2em 0;
    font-size: 2em;
    font-family: 'Noto Sans', sans-serif;
  }
  .trip-info {
    display: flex;
    width: 92%;
    justify-content: space-around;
    img {
      width: 20em;
      height: 13em;
    }
  }
}

.activity-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    padding: 2em 0;
    font-size: 2em;
    font-family: 'Noto Sans', sans-serif;
  }
  .activity-info {
    display: flex;
    width: 92%;
    justify-content: space-around;
    img {
      width: 20em;
      height: 13em;
    }
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}